@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('./OpenSans-Light.ttf') format('ttf');
}

html {
    font-size: 62.5%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f2f2f2;
}

div {
    box-sizing: border-box;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 1.5rem;
}

p,
label {
    font-size: 1.6rem;
}

#container {
    text-align: center;
}

#header {
    width: 100%;
    color: #f2f2f2;
    padding: 1% 5%;
    background: #244b59;
    float: left;
    text-align: center;
}

#header #logoContainer {
    width: 100%;
    display: flex;
    align-items: center;
}

#header #logoContainer img {
    padding: 10px;
    width: 75px;
}

#header #logoContainerText {
    font-size: 2.5rem;
    text-align: left;
}

#header #translateSlogan {
    font-size: 1.5rem;
}

#ractive-target label {
    color: #fff;
}

.menu-wrapper {
    margin: auto;
    width: 100%;
    background-color: white;
}

select {
    width: calc(100% - 12px);
    max-width: 300px;
    font-size: 1.2rem;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 10px 0;
}

.language-container select {
    margin-left: 6px;
    margin-right: 6px;
}

.card-cont {
    width: 90%;
    margin: 0 auto;
}

.sim-card {
    width: 100%;
    margin: 0 5px 20px;
    position: relative;
    display: inline-block;
    -webkit-box-shadow: 3px 6px 14px 0 rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 3px 6px 14px 0 rgba(0, 0, 0, 0.32);
    box-shadow: 3px 6px 14px 0 rgba(0, 0, 0, 0.32);
    cursor: pointer;
}

.sim-card img {
    width: 100%;
}

.sim-card .overlay {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.sim-card .overlay h2 {
    color: #fff;
    font-weight: 200;
    position: absolute;
    bottom: 0;
    background: rgba(36, 75, 89, 0.85);
    margin: 0;
    padding: 15px 10px;
    left: 0;
    right: 0;
    width: auto;
}

.sim-card .fa-info-circle {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
    color: #fff;
    font-size: 4.0rem;
}

.language-container {
    background: #244b59;
    padding-bottom: 30px;
    margin-bottom: -20px;
}

.swal2-container > div[role=dialog] {
    width: 90%;
    position: relative;
}

.swal2-html-container img {
    width: 50vh;
}

.swal2-modal .swal2-content {
    height: 100%;
    text-align: left!important;
}

#swal2-content {
    height: 100%;
}

#swal2-content > div {
    height: calc(100% - 40px);
}

.swal2-content img {
    height: 100%;
    object-fit: fill;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.swal2-container ul {
    white-space: pre-line;
}

.swal2-container > div {
    overflow-y: hidden;
}

.swal2-buttonswrapper {
    margin-top: 30px;
}

.swal2-actions .swal2-styled.swal2-confirm,
.swal2-actions .swal2-styled.swal2-cancel {
    font-size: 1.5rem
}

.swal2-popup .swal2-close {
    line-height: 40px;
    font-size: 36px;
    width: 38px;
    top: 5px;
    right: 8px;
    position: absolute;
}

.swal2-popup #swal2-title {
    font-size: 2rem;
    padding-top: 10px;    
}

.flex-cont {
    justify-content: space-around;
    display: none;
}

.vertical-flex-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.description {
    text-align: center;
    display: table;
    font-size: 1.6rem;
    padding: 10px 5% 0;
    margin: auto;
}

@media only screen and (min-height: 480px) {
    .swal2-html-container img {
        width: 100%;
    }
}


@media only screen and (min-width: 640px) {
    .sim-card {
        width: calc(50% - 10px);
    }

    #header #logoContainer img {
        padding: 20px;
        width: 125px;
    }

    #header #logoContainerText {
        font-size: 3.5rem;
    }

    #header #translateSlogan {
        font-size: 2.5rem;
    }

    select {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .swal2-container > div[role=dialog] {
        width: 500px;
    }

    .swal2-popup #swal2-title {
        font-size: 2.5rem;
    }

    .swal2-actions .swal2-styled.swal2-confirm,
    .swal2-actions .swal2-styled.swal2-cancel {
        font-size: 2rem
    }

    .description {
        font-size: 1.8rem
    }

}

@media only screen and (min-width: 640px) and (max-height: 640px) {
    .swal2-html-container img {
        width: 60vh;
    }
}


@media only screen and (min-width: 1024px) {
    .sim-card {
        width: calc(33.3% - 15px);
        margin-left: 7.5px;
        margin-right: 7.5px;
    }

    .card-cont, #header-content {
        width: 1000px;
        margin: auto;
    }

    #header #logoContainer img {
        padding: 30px;
        width: 200px;
    }

    #header #logoContainerText {
        font-size: 4.5rem;
        text-align: left;
    }

    #header #translateSlogan {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.0rem;
    }

    .swal2-container > div[role=dialog] {
        width: 700px;
    }

    .swal2-popup #swal2-title {
        font-size: 2.8rem;
    }

    .swal2-actions .swal2-styled.swal2-confirm,
    .swal2-actions .swal2-styled.swal2-cancel {
        font-size: 2rem
    }

    .description {
        font-size: 2rem
    }

}

@media only screen and (min-width: 1024px) and (max-height: 750px) {
    .swal2-html-container img {
        width: 70vh;
    }
}