@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/OpenSans-Light.ttf') format('ttf');
}

html {
    font-size: 62.5%;
}

body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', Georgia, 'Times New Roman', Times, serif;
    background-color: white;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2.0rem;
}

p, label {
    font-size: 1.6rem;
}

#container {
  width: 90%;
  text-align:center;
  margin: 0 auto;
}

#header {
    width: 100%;
}

.menu-wrapper {
    margin: auto;
    width: 100%;
    background-color: white;
}

select {
    width: 100%;
    max-width: 300px;
    font-size: 1.5rem;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.sim-card {
    width: 100%;
    margin: 0 auto 20px;
    position: relative;
    -webkit-box-shadow: 3px 6px 14px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: 3px 6px 14px 0px rgba(0,0,0,0.32);
    box-shadow: 3px 6px 14px 0px rgba(0,0,0,0.32);
    float: left;
}

.sim-card img {
    width: 100%;
}

.sim-card .overlay {
    background: rgba(24, 130, 159, 0.8);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.sim-card .overlay h2 {
    color: #fff;
    font-weight: 200;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    margin: 0;
    padding: 20px 0;
    width: 100%;
}

.sim-card .fa-info-circle {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
    color: #fff;
    font-size: 4.0rem;
}

.language-container {
    margin: 10px 0
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    .sim-card {
        width: calc(50% - 10px);
        margin-right: 10px;
    }

    .sim-card:nth-child(odd) {
        margin-right: 0;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
     
     .sim-card {
        width: calc(50% - 10px);
        margin-right: 15px;
    }

    .sim-card:nth-child(3n + 1) {
        margin-right: 0;
    }

}

@media only screen and (min-width : 1024px) {
  
  .sim-card {
    width: calc(33.3% - 10px);
    margin-right: 15px;
  }

}