@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('./OpenSans-Light.ttf') format('ttf');
}

html {
    font-size: 62.5%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f2f2f2;
}

div {
    box-sizing: border-box;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2.0rem;
}

p,
label {
    font-size: 1.6rem;
}

#container {
    text-align: center;
}

#header {
    width: 100%;
    color: #f2f2f2;
    padding: 5%;
    background: #244b59;
    float: left;
    text-align: center;
}

#header img {
    width: calc(100% - 32px);
    float: none;
    display: block;
}

#ractive-target label {
    color: #fff;
}

.menu-wrapper {
    margin: auto;
    width: 100%;
    background-color: white;
}

select {
    width: 100%;
    max-width: 300px;
    font-size: 1.5rem;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 10px 0;
}

.language-container select {
    margin-left: 6px;
    margin-right: 6px;
}

.card-cont {
    width: 90%;
    margin: 0 auto;
}

.sim-card {
    width: 100%;
    margin: 0 5px 20px;
    position: relative;
    display: inline-block;
    -webkit-box-shadow: 3px 6px 14px 0 rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 3px 6px 14px 0 rgba(0, 0, 0, 0.32);
    box-shadow: 3px 6px 14px 0 rgba(0, 0, 0, 0.32);
    cursor: pointer;
}

.sim-card img {
    width: 100%;
}

.sim-card .overlay {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.sim-card .overlay h2 {
    color: #fff;
    font-weight: 200;
    position: absolute;
    bottom: 0;
    background: rgba(36, 75, 89, 0.85);
    margin: 0;
    padding: 15px 10px;
    left: 0;
    right: 0;
    width: auto;
}

.sim-card .fa-info-circle {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
    color: #fff;
    font-size: 4.0rem;
}

.language-container {
    background: #244b59;
    padding-bottom: 30px;
    margin-bottom: -20px;
}

.swal2-container>div[role=dialog] {
    width: 100%!important;
    height: 100%;
    position: relative;
}

.swal2-modal .swal2-content {
    text-align: left!important;
}

.swal2-content img {
    width: 100%;
}

.swal2-container ul {
    white-space: pre-line;
}

.swal2-buttonswrapper {
    margin-top: 30px;
}

.flex-cont {
    justify-content: space-around;
    display: none;
}

.vertical-flex-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.description {
    margin: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 1023px) and (orientation: landscape) {
    .sim-card {
        width: calc(50% - 10px);
    }
}

@media only screen and (min-width: 767px) {
    .sim-card {
        width: calc(50% - 10px);
    }
    #header img {
        width: calc(100% - 32px);
        float: none;
        display: block;
    }
}

@media only screen and (min-width: 1023px) {
    .sim-card {
        width: calc(33.3% - 15px);
        margin-left: 7.5px;
        margin-right: 7.5px;
    }
    .card-cont {
        width: 1000px;
    }
}
